{% extends "wemo_app/base.html" %}

{% load static %}

{% block subtitle %}メモ一覧{% endblock %}

{% block body_attr %}class="w3-theme-l4 w3-animate-opacity"{% endblock %}

{% block content_display %}w3-display-top{% endblock %}

{% block content %}
<div class="w3-padding w3-border w3-round w3-margin-bottom">
    <h1>ヘルプ</h1>
    <div class="w3-border w3-margin w3-round">
        <h2>目次</h2>
        <ul class="w3-ul">
            <li>
                <a href="#create">メモの作り方</a>
            </li>
            <li>
                <a href="#delete">メモを削除する</a>
            </li>
            <li>
                <a href="#edit">メモを書き直す</a>
            </li>
        </ul>
    </div>
    <div id="create">
        <h2>メモの作り方</h2>
        <p></p>
    </div>
    <div id="delete">
        <h2>メモを削除する</h2>
        <p></p>
    </div>
    <div id="edit">
        <h2>メモを書き直す</h2>
        <p></p>
    </div>
</div>
{% endblock %}
