{% extends "wemo_app/base.html" %}

{% load static %}

{% block subtitle %}メモ一覧{% endblock %}

{% block body_attr %}class="w3-theme w3-animate-opacity"{% endblock %}

{% block content_display %}w3-display-middle{% endblock %}

{% block content %}
<h1 class="w3-border-bottom w3-margin">{{ memo.memo_title }}</h1>
<div class="w3-border-bottom w3-margin">
    <textarea class="w3-input w3-text-theme w3-theme-light w3-border" rows="7" disabled>
        {{ memo.memo_text }}
    </textarea>
</div>

<div class="w3-bar">
    <form class="w3-bar-item w3-mobile" action="{% url 'wemo_app:memo_delete' memo.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="w3-button w3-border w3-round-large w3-ripple">
            <i class="material-icons w3-small">delete メモを削除する</i>
        </button>
    </form>
    <div class="w3-bar-item w3-mobile">
        <a href="{% url 'wemo_app:memo_list' %}" class="w3-button w3-border w3-round-large w3-ripple">
            <i class="material-icons w3-small">home メモ一覧に戻る</i>
        </a>
    </div>
    <div class="w3-bar-item w3-mobile">
        <a href="{% url 'wemo_app:memo_update' memo.id %}" class="w3-button w3-border w3-round-large w3-ripple">
            <i class="material-icons w3-small">edit メモを書き直す</i>
        </a>
    </div>
</div>
{% endblock %}